flow.json
[{"id":"5fbbef15.2f3d6","type":"tab","label":"TweetsToMongoDBwithAPI","disabled":false,"info":""},{"id":"b8ad426d.60f57","type":"debug","z":"5fbbef15.2f3d6","name":"Message from Twitter","active":true,"console":"false","complete":"true","x":280,"y":40,"wires":[]},{"id":"ca061c1f.0f2e7","type":"Twitter Stream","z":"5fbbef15.2f3d6","connection":"","follow":"","topics":"","tweetLimit":"0","onlyVerified":false,"topicRetweets":false,"loadMedia":false,"topicLanguage":"en","debug":false,"name":"Tweets","x":70,"y":100,"wires":[["b8ad426d.60f57","fe7ba040.910df"]]},{"id":"4421c545.7fdfcc","type":"function","z":"5fbbef15.2f3d6","name":"Set to extended Tweet","func":"if (msg.payload.truncated === true) {\n    msg.payload.text = msg.payload.extended_tweet.full_text;\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":100,"wires":[["fa84d334.41788","2c45aabe.b155a6"]]},{"id":"fa84d334.41788","type":"debug","z":"5fbbef15.2f3d6","name":"Extended Tweet Text","active":true,"tosidebar":true,"console":false,"complete":"payload.text","x":700,"y":160,"wires":[]},{"id":"13d773ac.b1ad8c","type":"http in","z":"5fbbef15.2f3d6","name":"Return Tweets","url":"/returntweets","method":"get","upload":false,"swaggerDoc":"","x":150,"y":220,"wires":[["384e727a.29b81e"]]},{"id":"a2cabd13.04875","type":"http response","z":"5fbbef15.2f3d6","name":"Tweet API Output","statusCode":"","headers":{},"x":590,"y":220,"wires":[]},{"id":"4b9aadf5.c2dd24","type":"http in","z":"5fbbef15.2f3d6","name":"Total Tweets","url":"/totaltweets","method":"get","upload":false,"swaggerDoc":"","x":150,"y":280,"wires":[["c63f745f.17e088"]]},{"id":"8adec80f.6bcfb8","type":"http response","z":"5fbbef15.2f3d6","name":"Tweet API Output","statusCode":"","headers":{},"x":590,"y":280,"wires":[]},{"id":"2c45aabe.b155a6","type":"mongodb out","z":"5fbbef15.2f3d6","mongodb":"18dad1ea.aeec7e","name":"Insert to MongoDB","collection":"Tweets","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":690,"y":100,"wires":[]},{"id":"384e727a.29b81e","type":"mongodb in","z":"5fbbef15.2f3d6","mongodb":"18dad1ea.aeec7e","name":"Return Tweets API","collection":"Tweets","operation":"find","x":360,"y":220,"wires":[["a2cabd13.04875"]]},{"id":"c63f745f.17e088","type":"mongodb in","z":"5fbbef15.2f3d6","mongodb":"18dad1ea.aeec7e","name":"Total Tweets API","collection":"Tweets","operation":"count","x":360,"y":280,"wires":[["8adec80f.6bcfb8"]]},{"id":"fe7ba040.910df","type":"deduplicate","z":"5fbbef15.2f3d6","name":"","keyproperty":"id","expiry":5,"x":250,"y":100,"wires":[["4421c545.7fdfcc"],[]]}]